@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

//Fonts
$Inter: 'Inter', sans-serif;

//Colors
$text-main: #000000;
$text-main-sub: #FFFFFF;
$text-sub: #9A9A9A;
$border-gray: #B8B8B8;
$bg-light-blue-main: #DDF3FF;
$bg-light-blue-sub: #89D1F8;
$bg-blue-main: #00A5FF;