@import '../../../variables.scss';

.QuizPagination {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;

    &CirclesWrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
    }

    &Text {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        color: $text-sub;
        font-size: 15px;
        font-weight: 400;
    }
}